body {
  font-family: 'Segoe UI', sans-serif;
}
.project-card img {
  height: 200px;
  object-fit: cover;
}
.footer {
  background-color: #000b2e;
  color: white;
  padding: 40px 20px;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .icon {
  margin-right: 10px;
}
.footer h5 {
  margin-bottom: 1rem;
  font-weight: 600;
}
.navbar-custom {
  background-color: #000b2e;
}
.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: #fff;
  font-weight: 500;
  font-size: larger;
  font-family: Poppins,sans-serif;
}
.navbar-custom .nav-link:hover {
  color: #ffc107;
}
#loginDiv {
  display: none;
}
