<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="learnmore.css">
    
</head>

<body>

    <div class="d1">
        <nav class="Lnav">
            <div class="Lheader2">
                <!-- <img class="logo-png" src="./img/logo.png" alt="#"> -->
                <a class="LN2" href="home2.html">HOME</a>
                <a class="LN2" href="about2.html">ABOUT</a>
                <a class="LN2" href="team.html">TEAM</a>
                <a class="LN2" href="#">PROJECT</a>
                <a class="LN2" href="footer.html">CONTACT</a>
                <a class="LN2" href="#">CAREER</a>
            </div>
        </nav>

    </div>
    <div class="LP">
        <header class="Lhead1">Shri Varad Siddhi</header>
        <header class="Lhead2">Construction</header>

        <h4 class="Lh4">About us,<br>
           
            <div class="lcontainer">
                <div class="lbox">
                    <h5 class="Lh5">Welcome to,<span class="Lh42"> Varad Siddhi Construction</span></h5>

                    <h3 class="Lpara">15+ Years of Experience</h3>
        
                    <p class="learnPara">
                        Shri Varad Siddhi Construction, established in 2002, is a leading name in the infrastructure
                        sector, dedicated exclusively to government projects. Specializing in the construction of dams,
                        lakes, and other large-scale water management systems, the company has played a significant role
                        in enhancing the nation's water infrastructure. With over two decades of expertise, Shri Varad
                        Siddhi Construction has earned a stellar reputation for its commitment to quality,
                        sustainability, and timely project delivery. Leveraging state-of-the-art technology and
                        innovative engineering solutions, they ensure the successful execution of complex projects,
                        contributing to the flood control, and renewable energy generation. The company's emphasis on
                        eco-friendly practices minimizes environmental impact, supporting sustainable development. With
                        a highly skilled workforce and strong leadership, Shri Varad Siddhi Construction has established
                        long-term partnerships with government agencies, ensuring effective collaboration and
                        transparent operations. 
                    </p>
                  
                </div>

                <div class="rbox">
                    <img class="Limg" src="./assets/img/learn_img.png" alt="#">
                </div>

            </div>
            <div class="lmd2">
                <p> 
                    Their projects are not only structurally resilient but also beneficial
                    to the communities they serve by providing reliable water resources and promoting regional
                    growth. Recognized for their excellence, the company adheres to strict quality standards and
                    ensures compliance with all safety regulations. Through responsible resource management,
                    advanced construction techniques, and a commitment to environmental  preservation, Shri Varad
                    Siddhi Construction continues to contribute significantly to the nation’s infrastructure
                    landscape.Looking ahead, the company remains focused on expanding its impact, undertaking
                    projects that support water conservation, renewable energy, and sustainable development goals.
                    Their dedication to innovation, ethical practices, and community engagement underscores their
                    vision of building a better future for generations. One of the trustworthy government-aided company.
                </p> 
            </div> 

            <button class="Lbtn">Projects</button>
            <br>
            <br>
           
            <div class="Lvideo">
                <video class="Lv" src="./assets/videos/video1.mp4" controls></video>
                <video class="Lv" src="./assets/videos/video2.mp4" controls></video>
                <video class="Lv" src="./assets/videos/video3.mp4" controls></video>
            </div>
            
        
    </div>
</body>

</html>