<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Page</title>
    <link rel="stylesheet" href="/src/styles/career.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="Home.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="Home.html">TEAM</a></li>
                <li><a href="project.html">PROJECT</a></li>
                <li><a href="#cf2">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="hero">
        <div class="hero-content">
          <div class="hero-text">
            <h2>Welcome to <br> Varad Siddhi Construction</h2>
            <h1><span>Career Page</span></h1>
            <p>Join us</p>
            <button>Apply Now</button>
          </div>
          <div class="hero-images">
            <div class="left-image">
              <img src="./assets/img/meeting.png" alt="Meeting">
            </div>
            <div class="right-images">
              <img src="./assets/img/teamwork.png" alt="Teamwork">
              <img src="./assets/img/working women.png" alt="Working Woman">
            </div>
          </div>
        </div>
      </section>
      
      
    
    
    <section class="jobs">
        <h2 id="job-text">You are Ready! To join our Team</h2>
        <div class="job-div-left">
          <img src="./assets/img/job-role.png" alt="Job role" id="job-role-img">
        </div>
        <div class="job-list">
            <div class="job-box">Job role<br><small>This is job role Description for job</small></div>
            <div class="job-box">Job role<br><small>This is job role Description for job</small></div>
            <div class="job-box">Job role<br><small>This is job role Description for job</small></div>
            <div class="job-box">Job role<br><small>This is job role Description for job</small></div>
            <div class="job-box">Job role<br><small>This is job role Description for job</small></div>
            <div class="job-box">Job role<br><small>This is job role Description for job</small></div>
        </div>
        <button class="learn-more">Learn More</button>
    </section>
    <section class="footer" id="cf2">
      <div class="footer-f">

        <div class="footer-columnf">
          <h3>Office contact</h3>
          <div class="footer-itemf">
            <img src="./assets/icons/F-call.png" alt="Phone">
            <span>+912 345 67890</span>
          </div>
          <div class="footer-itemf">
            <img src="./assets/icons/F-mail.png" alt="Email">
            <span>info@example.com</span>
          </div>
          <div class="footer-itemf">
            <img src="./assets/icons/f_time.png" alt="Clock">
            <span>Mon–Fri, 9:00–4:00</span>
          </div>
        </div>
      
        <div class="footer-columnf">
          <h3>Address</h3>
          <div class="footer-itemf">
            <img src="./assets/icons/f_location.png" alt="Location">
            <span>OFFICE NO. 216<br>
            SECOND FLOOR LEELA<br>
            GRANDEUR PUNE SOLAPUR<br>
            ROAD MANJARI TALUKA<br>
            HAVELI DIST PUNE 412307</span>
          </div>
          <div class="footer-itemf">
            <img src="./assets/icons/f_Gmap.png" alt="Map">
            <a href="#">Google Map link</a>
          </div>
        </div>
      
        <div class="footer-columnf">
          <h3>Usefull pages</h3>
          <div class="footer-itemf">
            <img src="./assets/icons/F_home.png" alt="Arrow">
            <a href="#">Home</a>
          </div>
          <div class="footer-itemf">
            <img src="./assets/icons/F_home.png" alt="Arrow">
            <a href="#">About</a>
          </div>
          <div class="footer-itemf">
            <img src="./assets/icons/F_home.png" alt="Arrow">
            <a href="#">Project</a>
          </div>
          <div class="footer-itemf">
            <img src="./assets/icons/F_home.png" alt="Arrow">
            <a href="#">Contact</a>
          </div>
        </div>
      
        <div class="footer-columnf">
          <h3>About Company</h3>
          <div class="about-textf">
            Praesent dapibus neque id cursus faucibus tortor neque egestas augue eu vulputate magna eros eu erat
          </div>
          <button class="learn-more-buttonf">Learn more</button>
        </div>
      
      </div>
    </section>
</body>
</html>
