<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Employee Cards</title>
</head>
<body>
    <div class="buttons">
        <input type="text" id="employeeName" placeholder="Employee Name">
        <input type="text" id="employeeRole" placeholder="Employee Role">
        <input type="file" id="imageUpload" accept="image/*">
        <button class="add-btn" id="addEmployeeBtn">Add Employee</button>
    </div>
    <div class="container" id="cardContainer"></div>

</body>
</html>
