<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo system | authentification , DOM</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Project</li>
                <li>career</li>
                <li>Login</li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <div class="blog">
                <img src="/assets/img/pho.jpg" alt="environment" class="ph">
                <span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas earum laborum delectus
                        voluptatibus, autem recusandae unde aperiam error quisquam quas commodi dolores? Minus deserunt
                        omnis saepe explicabo nesciunt est sunt placeat? Mollitia dicta est impedit officia nesciunt nam
                        sit praesentium accusantium ipsum non temporibus, reiciendis, ea facilis natus quia! Quasi
                        molestias recusandae velit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, assumenda dolores eaque
                        architecto aspernatur velit praesentium debitis beatae earum perspiciatis tempora delectus
                        numquam mollitia esse neque porro asperiores ipsam magnam explicabo aperiam! Error consequuntur
                        odit facilis magnam quis perferendis ab rem minima ipsam, earum, magni harum laboriosam animi
                        hic. Quos, officia rerum sed laborum nulla vitae tempora assumenda voluptate modi!
                    </p>
                </span>
            </div>
        </article>
        <button><a href="employe.html">Employee</a></button>
    </main>
</body>

</html>